h1{
    background-color: bisque;
}

p {
    background-color: rgb(181, 199, 118);
}

.box {
    width: 200px;
    height: 50px;
    background-color: #76b7e3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

    
    

